* {
  margin: 0;
  padding: 0;
}
.container {
  background-image: url(./eb3d4143-8e57-499d-b2a1-08f367bc2363.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;

  /* SHorthand */
  /* background: url(./eb3d4143-8e57-499d-b2a1-08f367bc2363.jpg) no-repeat center center/cover ; */
}


.margin {
    border: 2px solid red;
    /* All sides */
    /* top/bottom/left/right */
    margin: 20px 40px;
    /* Top/bottom/left/right */
    /* margin: 10px 20px 30px 40px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px; */

    /* Padding */
    padding: 20px 40px;
    /* Top/bottom/left/right */
    /* padding: 10px 20px 30px 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */
}

