* {
    margin: 0;padding: 0;
}
body {
    width: 100%;
    height: 100vh;
}
.image {
    width: 200px;
}
.heading {
    color: rgb(233, 51, 51);
}

.para {
color:rgb(224, 63, 63);
font-size: 1rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

}
div .image2 {
     width: 100px;
     border: 2px solid ;
}

div .color {
    color: rgb(213, 20, 220);
}

 h1 ,p {
    color: rgb(255, 106, 0);
}