.container {
  background-color: rebeccapurple;
  height: 500px;
  display: grid;
  grid-template-columns: 300px auto 300px;
  /* grid-template-columns: auto auto auto auto; */
  /* grid-template-columns: repeat(8,2fr); */
  grid-template-columns: repeat(4, 1fr);
  /* place-content: center; */
  /* column-gap: 20px;
row-gap: 20px; */
  grid-gap: 10px 20px;
}

.box {
  background-color: #fff;
  border: 2px solid black;
}

.box-9 {
  grid-column-start: 1;
  grid-column-end: 5;
  /* Shorthand */
  grid-column: 1/5;
}
